*{
    margin: 0;
    padding: 0;
}


.dashboard-container{
display: flex;
align-items:stretch;
flex: 1;
}

main{
    flex: 1;
    padding: 30px;
    background-color: #f9f9fa;
}

nav{
    width: 200px;
    background-color: #1d0e38;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover{
    background-color: #030604;
    color: #ffcc00;
}

.perfil-usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    margin-top: auto;
}

.perfil-usuario img{
    width: 40px;
    border-radius: 50%;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article{
    flex: 1;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h2{
    color: blue;
    margin-bottom: 10px;
}

article p{
    margin-bottom: 20px;
    color: #555;
}

body{
    background-color: #dfdfdf;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.btn{
    margin-top: auto;
    display: inline-block;
    text-align: center;
    background-color: #004a8d;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.btn:hover{
    background-color: #003366;
}

article{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.inicio a::before {
  content: "🏠";
  margin-right: 5px;
}

.usuario a::before {
  content: "👤";
  margin-right: 6px;
}

.postagens a::before {
  content: "📢";
  margin-right: 6px;
}

.categorias a::before {
  content: "📂";
  margin-right: 6px;
}

.table-responsive{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #1d0e38;
    color: #ffffff;
    padding: 15px;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #444;
}  

tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

tbody tr:hover{
    background-color: #f1f7ff;
}

.btn-icon   {
    background: none;
    border: none;
    color: #004a8d;
    cursor: pointer;
    font-size: 16px;
}

.badge{
    padding: 4px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.ativo{ background-color: #d4edda; color: #155724;}
.inativo{ background-color: #f8d7da; color: #721c24;}


.card-form{
    background: white;
    max-width: 700px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.form-header{ margin-bottom: 25px; border-bottom: 1px solid #eee; padding-bottom: 15px;}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form-row{ display: flex; gap: 20px;}
.flex-1 {flex: 1;}

label { font-weight: bold; color:#2c3e50; font-size: 14px;}

input, select{
    padding: 12px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    transition: 0.3s;
}

input:focus { border-color: #004a8d; outline: none; box-shadow: 0 0 0 3px rgba(0, 74, 141, 0.1); }

.btn-save{
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.btn-save:hover{
    color: #003366;
}

.btn-cancel:hover{
    color: red;
}

.btn-newuser{
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-newuser{
    text-align: right;
    margin-bottom: 15px;
}

.btn-add{
    background-color: #004a8d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-add + .btn-add,
.action-buttons .btn-add {
    margin-left: 10px;
}

.btn-add:hover{
    background-color: #2c3e50;
    color: #0dd8b3;
}